* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulos {
    color: rgb(34, 72, 105);
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.textoGrande {
    flex-direction: column;
    display: flex;
    text-align: center;
    color: rgb(34, 31, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.barra,a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.barraB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0%;
    right: 0%;
}
body {
    background-color: antiquewhite;
}
.carrito {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    margin-right: 25%;
    margin-left: 85%;
}
#conteItemsCarrusel {
    border: 5px solid black;
    height: 100px;
    overflow: hidden;
    margin: 10px;
}
.itemCarrusel {
    border: 1px solid black;
    height: 100px;
    position: relative;
    width: 200%;
}
.tarjetaCarrusel {
    height: 100%;
}
.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    Justify-content: space-between;
    padding: 5px;
}
.store {
    width: 250px;
    height: 200px;
}
.general {
    display: inline-flex;
    font-size: 100%;
    margin-left: 15%;
    height: 350px;
    width: 1000px;
    border: 1px solid black;
}